.form-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.label-container {
  display: flex;
  justify-content: space-between;
}
form label {
  font-size: 0.7rem;
  font-weight: var(--bold);
}

form input {
  padding: 0.7rem 1.2rem;
  margin: 10px 0;
  border-style: ridge;
  border-radius: 4px;
  outline: none;
}
form button {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  padding: 0.8rem 1.4rem;
  font-weight: var(--bold);
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  color: var(--white);
  background-image: linear-gradient(to right, var(--pink-red), var(--tomato));
}
.show {
  display: inline;
}
.error {
  border: 1px solid var(--tomato);
  color: var(--tomato);
}

@media screen and (min-width: 790px) {

  .form-container {
    width: 90%;
  }

 }